﻿<div>
<div class="row">
    <div class="span1" ><span>Search:</span></div>
    <div class="span2"><input type="text" id="SearchBox" /></div>
    <div class="span3 offset1"><span> 14KY POL 2X42MM TUBE HOOP</span></div>
</div>
<div class="row">
    <div class="span1"><span>Weight:</span></div>
    <div class="span2"><input type="text" id="weight" /></div>
</div>
<div class="row">
    <div class="span1"><span>Min:</span></div>
    <div class="span2"><input type="text" id="weight" /></div>
</div>
<div class="row">
    <div class="span1"><span>Max:</span></div>
    <div class="span2"><input type="text" id="weight" /></div>
</div>
<div class="row">
    <div class="span1"><span>Sub category:</span></div>
    <div class="span2"><input type="text" id="weight" /></div>
</div>
</div>