﻿@{
    Layout = null;
}
<div>
    <a href="@ViewBag.path" data-lightbox="image-1" id="PictureLink" title="@ViewBag.itemNumber">
        <img alt="@ViewBag.itemNumber" src="@ViewBag.path" style="display:none" />
    </a>
</div>

