﻿@model IEnumerable<JTSMVC.Controllers.Routes>

@{
    Layout = null;
}


    <h3>Routes</h3>
    <table  class="table table-striped table-bordered table-hover">
        <tr>
            <th>
                @Html.Label("Activity")
            </th>
            <th>
                @Html.Label("Instructions")
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructions)
            </td>
            <td>
               
            </td>
        </tr>
    }
    
    </table>

